@media (max-width: 1200px) {
    .burgermenu {
        display: block;
        align-self: center;
        //margin: 0;
        padding: 0 0 0 30px;
        &-icon {
            max-width: 30px;
            height: auto;
        }
        &.active {
            display: block;
        }
        &.inactive {
            display: none;
        }
    }

    .burgermenu-x {
        display: none;
        align-self: center;
        z-index: 9;
        padding: 0 0 0 30px;
        &-icon {
            max-width: 30px;
            height: auto;
        }
        &.active {
            display: block;
        }
        &.inactive {
            display: none;
        }
    }

    .container {
        max-width: 970px;
    }

    .loginButton,
    .ordersButton {
        //z-index: 7;
        //padding: 15px 35px;
        //font-size: 20px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 787px;
        padding: 0 50px;
    }

    .socialButton {
        display: none;
        &-open {
            bottom: 20px;
            right: -100%;
            z-index: 150;
            &.active {
                right: 70px;
            }
            &.inactive {
                right: -100%;
            }

            img {
                width: 70px;
                height: auto;
                margin-bottom: 30px;
            }
        }
    }

    .burgermenu {
        padding: 0 0 0 20px;
        &-icon {
            max-width: 25px;
            height: auto;
        }
    }

    .burgermenu-x {
        padding: 0 0 0 20px;
        &-icon {
            max-width: 25px;
            height: auto;
        }
    }

    .subtitle {
        font-size: 20px;
        line-height: 35px;
    }

    .text {
        font-size: 20px;
        line-height: 35px;
    }

    .title {
        font-size: 30px;
        line-height: 55px;
    }

    .loginButton,
    .ordersButton {
        //padding: 10px 20px;
        //font-size: 16px;
    }
}

@media (max-width: 992px) and (orientation: landscape) {
    .burgermenu {
        &-icon {
            max-width: 25px;
            height: auto;
        }
    }

    .burgermenu-x {
        &-icon {
            max-width: 25px;
            height: auto;
        }
    }

    .socialButton {
        display: none;
        &-open {
            display: none;
            &.active {
                display: none;
            }
            &.inactive {
                display: none;
            }
        }
    }

    .subtitle {
        font-size: 20px;
        line-height: 30px;
    }

    .text {
        font-size: 25px;
        line-height: 35px;
    }

    .title {
        font-size: 40px;
        line-height: 50px;
    }

    .loginButton,
    .ordersButton {
        //padding: 10px 20px;
        //font-size: 16px;
    }
}

@media (max-width: 787px) {
    .container {
        max-width: 100%;
        padding: 0 20px;
    }

    .burgermenu {
        padding: 0 0 0 10px;
        &-icon {
            max-width: 24px;
            height: auto;
        }
    }

    .burgermenu-x {
        padding: 0 0 0 10px;
        &-icon {
            max-width: 24px;
            height: auto;
        }
    }

    .socialButton {
        &-open {
            bottom: 20px;
            right: -100%;

            &.active {
                right: 40px;
            }
            &.inactive {
                right: -100%;
            }

            img {
                width: 45px;
                height: auto;
                margin-bottom: 20px;
            }
        }
    }

    .subtitle {
        font-size: 16px;
        line-height: 25px;
    }

    .text {
        font-size: 16px;
        line-height: 25px;
    }

    .title {
        font-size: 25px;
        line-height: 40px;
    }

    .loginButton,
    .ordersButton {
        transform: scale(0.8);
    }
}

@media (max-width: 787px) and (orientation: landscape) {
    .loginButton,
    .ordersButton {
        //padding: 10px 20px;
        //font-size: 14px;
    }
}
