* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------Обнуление*/

$darktext: #000000;
$darkgrey: #555454;
$lightgrey: #e2e2e2;
$lighttext: #ffffff;
$lightbg: #ffffff;
$darkredtextbg: #990100;
$lightredtextbg: #cd3301;

body {
    font-family: Montserrat;
    font-size: 16px;
    color: $darkgrey;
    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 60px;
}

.title {
    font-size: 36px;
    line-height: 51px;
    font-weight: 500;
}

.subtitle {
    font-size: 18px;
    line-height: 32px;
}

.text {
    font-size: 16px;
    line-height: 28px;
}

.burgermenu {
    display: none;
    &-x {
        display: none;
    }
}

.socialButton {
    position: fixed;
    filter: grayscale(0%);
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    z-index: 6;
    box-shadow: 0 0 30px rgba(97, 97, 97, 0.6);
    &-open {
        transition: 1s;
        position: fixed;
        bottom: -100%;
        right: 40px;
        display: flex;
        flex-direction: column;
        z-index: 6;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-top: 10px;
            box-shadow: 0 0 30px rgba(97, 97, 97, 0.6);
        }

        &.active {
            bottom: 150px;
        }
    }
    &:hover {
        filter: grayscale(100%);
    }
}

.popup {
    &__login {
        transition: 0.4s;
        z-index: 102;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        &.open {
            visibility: visible;
            opacity: 1;
        }
        &.close {
            visibility: hidden;
            opacity: 0;
        }
    }

    &__login-body {
        min-height: 100%;
        display: flex;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        justify-content: center;
        padding: 30px 10px;
    }

    &__login-content {
        position: relative;
        background-color: $lightbg;
        color: $darktext;
        max-width: 500px;
        padding: 30px;
    }

    &__login-close {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    &__login-logo {
        width: 130px;
        height: auto;
        object-fit: cover;
        padding: 30px 0 70px 0;
    }

    &__login-title {
        font-size: 20px;
        color: $darkredtextbg;
        font-weight: 600;
    }

    &__login-text {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        color: $darkredtextbg;
    }

    &__login-auth-login {
        margin-top: 50px;
        color: $darktext;
        width: 100%;
        line-height: 13px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid rgb(119, 0, 0);
        padding-bottom: 10px;
        outline: none;
        font-size: 13px;
        display: block;
    }

    &__login-auth-passwd {
        margin: 20px 0;
        color: $darktext;
        width: 100%;
        line-height: 13px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid rgb(119, 0, 0);
        padding-bottom: 10px;
        outline: none;
        font-size: 13px;
        display: block;
    }

    &__login-button {
        margin: 40px 20px 0 0;
        position: relative;
        padding: 15px 30px 15px 45px;
        display: inline-block;
        color: $darkredtextbg;
        background: $lightgrey;
        transition: 1s;
        border-radius: 25px;
        font-size: 14px;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            color: $lighttext;
            background: $darkredtextbg;
        }
    }

    &__login-buttonIcon {
        position: absolute;
        width: 30px;
        left: 12px;
    }

    &__login-forgetPaswd {
        font-size: 12px;
        color: $darktext;
        text-decoration: underline;
    }

    &__login-close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 15px;
        height: 15px;
        opacity: 0.3;
    }
    &__login-close:hover {
        opacity: 1;
    }
    &__login-close:before,
    &__login-close:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 15px;
        width: 2px;
        background-color: #333;
    }
    &__login-close:before {
        transform: rotate(45deg);
    }
    &__login-close:after {
        transform: rotate(-45deg);
    }
}

.freePlace {
    flex: 1 1 auto;
}

.header__buttons {
    align-self: center;
    text-decoration: none;
    font-family: Montserrat;
    //padding: 15px 20px;
    transition: 0.3s linear;
    //font-weight: 500;
    font-size: 16px;
    color: $lighttext;
}

.loginButton,
.ordersButton {
    z-index: 40;
    border-radius: 5px;
    background-color: $darkredtextbg;
    width: 120px;
    height: 40px;
    position: relative;

    &-item {
        position: absolute;
        top: 30%;
        left: 27%;
    }

    &:hover {
        box-shadow: 0 0 10px rgba(97, 97, 97, 0.3);
        background-color: $lightbg;
        color: $darkredtextbg;
    }

    &.active {
        display: block;
    }

    &.inactive {
        display: none;
    }

    &.clicked {
        box-shadow: 0 0 10px rgba(97, 97, 97, 0.3);
        background-color: $lightbg;
        color: $darkredtextbg;
    }
}

.ordersButton {
    display: none;
    &-item {
        left: 20%;
    }
}
