@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------Обнуление*/
body {
  font-family: Montserrat;
  font-size: 16px;
  color: #555454;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 60px;
}

.title {
  font-size: 36px;
  line-height: 51px;
  font-weight: 500;
}

.subtitle {
  font-size: 18px;
  line-height: 32px;
}

.text {
  font-size: 16px;
  line-height: 28px;
}

.burgermenu {
  display: none;
}

.burgermenu-x {
  display: none;
}

.socialButton {
  position: fixed;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  z-index: 6;
  -webkit-box-shadow: 0 0 30px rgba(97, 97, 97, 0.6);
          box-shadow: 0 0 30px rgba(97, 97, 97, 0.6);
}

.socialButton img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.socialButton-open {
  -webkit-transition: 1s;
  transition: 1s;
  position: fixed;
  bottom: -100%;
  right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 6;
}

.socialButton-open img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  -webkit-box-shadow: 0 0 30px rgba(97, 97, 97, 0.6);
          box-shadow: 0 0 30px rgba(97, 97, 97, 0.6);
}

.socialButton-open.active {
  bottom: 150px;
}

.socialButton:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.popup__login {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 102;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup__login.open {
  visibility: visible;
  opacity: 1;
}

.popup__login.close {
  visibility: hidden;
  opacity: 0;
}

.popup__login-body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__login-content {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  max-width: 500px;
  padding: 30px;
}

.popup__login-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.popup__login-logo {
  width: 130px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 30px 0 70px 0;
}

.popup__login-title {
  font-size: 20px;
  color: #990100;
  font-weight: 600;
}

.popup__login-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #990100;
}

.popup__login-auth-login {
  margin-top: 50px;
  color: #000000;
  width: 100%;
  line-height: 13px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #770000;
  padding-bottom: 10px;
  outline: none;
  font-size: 13px;
  display: block;
}

.popup__login-auth-passwd {
  margin: 20px 0;
  color: #000000;
  width: 100%;
  line-height: 13px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #770000;
  padding-bottom: 10px;
  outline: none;
  font-size: 13px;
  display: block;
}

.popup__login-button {
  margin: 40px 20px 0 0;
  position: relative;
  padding: 15px 30px 15px 45px;
  display: inline-block;
  color: #990100;
  background: #e2e2e2;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.popup__login-button:hover {
  color: #ffffff;
  background: #990100;
}

.popup__login-buttonIcon {
  position: absolute;
  width: 30px;
  left: 12px;
}

.popup__login-forgetPaswd {
  font-size: 12px;
  color: #000000;
  text-decoration: underline;
}

.popup__login-close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.popup__login-close:hover {
  opacity: 1;
}

.popup__login-close:before, .popup__login-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #333;
}

.popup__login-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__login-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.freePlace {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__buttons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  font-family: Montserrat;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  font-size: 16px;
  color: #ffffff;
}

.loginButton,
.ordersButton {
  z-index: 40;
  border-radius: 5px;
  background-color: #990100;
  width: 120px;
  height: 40px;
  position: relative;
}

.loginButton-item,
.ordersButton-item {
  position: absolute;
  top: 30%;
  left: 27%;
}

.loginButton:hover,
.ordersButton:hover {
  -webkit-box-shadow: 0 0 10px rgba(97, 97, 97, 0.3);
          box-shadow: 0 0 10px rgba(97, 97, 97, 0.3);
  background-color: #ffffff;
  color: #990100;
}

.loginButton.active,
.ordersButton.active {
  display: block;
}

.loginButton.inactive,
.ordersButton.inactive {
  display: none;
}

.loginButton.clicked,
.ordersButton.clicked {
  -webkit-box-shadow: 0 0 10px rgba(97, 97, 97, 0.3);
          box-shadow: 0 0 10px rgba(97, 97, 97, 0.3);
  background-color: #ffffff;
  color: #990100;
}

.ordersButton {
  display: none;
}

.ordersButton-item {
  left: 20%;
}

.header {
  font-family: Montserrat;
  color: #ffffff;
  position: relative;
}

.header__menu {
  z-index: 100;
  padding: 30px 0;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
}

.header__menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Montserrat;
}

.header__nav-item {
  text-align: center;
  display: inline-block;
  color: #000000;
  vertical-align: top;
  margin: 0 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  font-weight: 500;
}

.header__nav-item:hover {
  color: #cd3301;
}

.header__nav-item:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #cd3301;
  position: absolute;
  margin-top: 8px;
  left: 0;
  z-index: 1;
}

.header__nav-activeitem {
  color: #cd3301;
}

.header__nav-activeitem:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #cd3301;
  position: absolute;
  margin-top: 8px;
  left: 0;
  z-index: 1;
}

.header__logo img {
  max-width: 200px;
  height: auto;
  padding-right: 20px;
}

.header__menu {
  background-color: white;
}

.footer {
  z-index: 102;
}

.popup__productCard {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 102;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup__productCard.open {
  visibility: visible;
  opacity: 1;
}

.popup__productCard.close {
  visibility: hidden;
  opacity: 0;
}

.popup__productCard-body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__productCard-content {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  max-width: 60%;
  padding: 30px;
}

.popup__productCard-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__productCard-item {
  max-width: 47%;
  margin: 25px 20px 0 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__productCard-image {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
}

.popup__productCard-title {
  font-size: 20px;
  color: #990100;
  font-weight: 600;
  padding: 0 20px 0 0;
}

.popup__productCard-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #555454;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.popup__productCard-price {
  margin: 20px 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
}

.popup__productCard-price span {
  padding: 0 10px;
  color: #990100;
  font-size: 20px;
}

.popup__productCard-count {
  color: #000000;
  line-height: 13px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #770000;
  padding-bottom: 10px;
  outline: none;
  font-size: 16px;
  display: block;
}

.popup__productCard-button {
  margin: 30px 0 0 0;
  position: relative;
  padding: 15px 25px 15px 40px;
  display: inline-block;
  color: #990100;
  background: #e2e2e2;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.popup__productCard-button:hover {
  color: #ffffff;
  background: #990100;
}

.popup__productCard-buttonIcon {
  position: absolute;
  width: 22px;
  left: 8px;
}

.popup__productCard-cancel {
  margin: 0 0 0 10px;
  font-size: 12px;
  color: #000000;
  text-decoration: underline;
}

.popup__productCard-close {
  position: absolute;
  right: 35px;
  top: 28px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.popup__productCard-close:hover {
  opacity: 1;
}

.popup__productCard-close:before, .popup__productCard-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #333;
}

.popup__productCard-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__productCard-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.socialButton {
  display: none;
}

.socialButton-open {
  display: none;
}

.categoriesMenuMobile {
  display: none;
}

.categoriesMenu {
  width: 100%;
  z-index: 46;
  background: #990100;
  padding: 117px 0 0 0;
}

.categoriesMenu__wrapper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 15px 0;
}

.categoriesMenu__item {
  padding: 20px 0;
  max-width: 25%;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}

.categoriesMenu__item:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  margin-top: 8px;
  left: 0;
  z-index: 1;
}

.categoriesMenu__activeitem:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  margin-top: 8px;
  left: 0;
  z-index: 1;
}

.products {
  padding: 20px 0 30px 0;
}

.products__wrapper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__header {
  position: relative;
}

.products__item {
  padding: 0 0 20px 20px;
  max-width: 23.5%;
}

.products__item-image {
  padding: 0 0 20px 0;
  max-width: 230px;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
}

.products__item-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.products__item-title a {
  color: #990100;
}

.products__item-text {
  width: 85%;
  font-size: 12px;
}

.products__item-text a {
  color: #555454;
}

.products__item-price {
  color: #ffffff;
  position: absolute;
  bottom: 30px;
  left: -20px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__item-price-top {
  font-weight: 500;
  font-size: 20px;
}

.products__item-price-inner {
  background-color: #cd3301;
  padding: 10px;
}

.products__item-addToOrder {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  -webkit-transition: 1s;
  transition: 1s;
  font-weight: 600;
  visibility: hidden;
}

.products__item-addToOrder.active {
  visibility: visible;
}

.products__item-addToOrder.inactive {
  visibility: hidden;
}

.products__content {
  position: relative;
}

.orders {
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
  padding: 150px 20px 20px 20px;
  width: 310px;
  height: 100%;
  background-color: #555454;
  opacity: 0.98;
  color: #ffffff;
  position: fixed;
  z-index: 10;
  top: -100%;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.orders__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 15px 0;
}

.orders__item-icon {
  position: relative;
  padding: 0 20px 0 0;
}

.orders__item-img {
  border-radius: 10px;
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.orders__item-cancelbtnround {
  position: absolute;
  top: -15px;
  left: 65px;
  background-color: #ffffff;
  padding: 12px;
  border-radius: 50%;
  opacity: 0.8;
}

.orders__item-cancelbtnround:hover {
  opacity: 1;
}

.orders__item-cancelbtn {
  position: absolute;
  top: -2.9px;
  left: 3.9px;
  width: 15px;
  height: 15px;
}

.orders__item-cancelbtn:before, .orders__item-cancelbtn:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 15px;
  width: 1px;
  top: 50%;
  left: 50%;
  background-color: #333;
}

.orders__item-cancelbtn:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.orders__item-cancelbtn:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.orders__item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.orders__item-title {
  font-size: 16px;
  margin: 7px 0;
  margin: 0 auto;
}

.orders__item-price {
  font-size: 16px;
  font-weight: 700;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.orders__item-count {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.orders__item-countNumber {
  width: 32px;
  text-align: center;
  float: right;
  font-size: 20px;
}

.orders__item-countAdd {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 24px;
  height: 24px;
  background: #e0e0e0;
  border-radius: 50%;
  color: #990100;
  text-align: center;
  cursor: pointer;
  float: right;
  position: relative;
  font-weight: 600;
  font-size: 24px;
}

.orders__item-countAdd span {
  position: absolute;
  top: 0;
  left: 5px;
}

.orders__item-countDel {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 24px;
  height: 24px;
  background: #e0e0e0;
  border-radius: 50%;
  color: #990100;
  text-align: center;
  cursor: pointer;
  float: right;
  position: relative;
  font-weight: 600;
  font-size: 24px;
}

.orders__item-countDel span {
  position: absolute;
  top: -1px;
  left: 7px;
}

.orders__footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.orders__submitbtn {
  margin: 0 10px 20px 0;
  border-radius: 20px;
  padding: 15px 15px;
  background: #ffffff;
  color: #990100;
  font-weight: 600;
  font-size: 12px;
}

.orders__all {
  padding: 0 10px 0 0;
  text-align: right;
}

.orders__all-text {
  color: #e2e2e2;
}

.orders__all-price {
  color: #ffffff;
  font-weight: 600;
  font-size: 23px;
  padding: 5px 0 0 0;
}

.orders.active {
  top: 0;
}

.footer {
  background-color: #555454;
  padding-top: 30px;
  color: #ffffff;
  font-size: 12px;
}

.footer a {
  color: #ffffff;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
}

.footer__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 30px;
}

.footer__logo img {
  max-width: 200px;
  height: auto;
}

.footer__text {
  line-height: 1.6;
  margin-bottom: 10px;
  max-width: 200px;
}

.footer__tel {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer__tel a:hover {
  color: #cd3301;
}

.footer__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.footer__item {
  line-height: 25px;
}

.footer__item:hover {
  color: #cd3301;
}

.subfooter {
  background: #444444;
  padding-top: 10px;
  font-size: 12px;
}

.subfooter__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subfooter a,
.subfooter p {
  color: #ffffff;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 20px;
}

.subfooter__wrapper-col p {
  margin: 15px 0;
  font-weight: 600;
  text-align: center;
}

.subfooter__wrapper-col a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  line-height: 20px;
}

.subfooter__wrapper-col a:hover {
  color: #cd3301;
}

.subfooter__wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .burgermenu {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 0 0 0 30px;
  }
  .burgermenu-icon {
    max-width: 30px;
    height: auto;
  }
  .burgermenu.active {
    display: block;
  }
  .burgermenu.inactive {
    display: none;
  }
  .burgermenu-x {
    display: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    z-index: 9;
    padding: 0 0 0 30px;
  }
  .burgermenu-x-icon {
    max-width: 30px;
    height: auto;
  }
  .burgermenu-x.active {
    display: block;
  }
  .burgermenu-x.inactive {
    display: none;
  }
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 787px;
    padding: 0 50px;
  }
  .socialButton {
    display: none;
  }
  .socialButton-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 20px;
    right: -100%;
    z-index: 150;
  }
  .socialButton-open.active {
    right: 70px;
  }
  .socialButton-open.inactive {
    right: -100%;
  }
  .socialButton-open img {
    width: 70px;
    height: auto;
    margin-bottom: 30px;
  }
  .burgermenu {
    padding: 0 0 0 20px;
  }
  .burgermenu-icon {
    max-width: 25px;
    height: auto;
  }
  .burgermenu-x {
    padding: 0 0 0 20px;
  }
  .burgermenu-x-icon {
    max-width: 25px;
    height: auto;
  }
  .subtitle {
    font-size: 20px;
    line-height: 35px;
  }
  .text {
    font-size: 20px;
    line-height: 35px;
  }
  .title {
    font-size: 30px;
    line-height: 55px;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .burgermenu-icon {
    max-width: 25px;
    height: auto;
  }
  .burgermenu-x-icon {
    max-width: 25px;
    height: auto;
  }
  .socialButton {
    display: none;
  }
  .socialButton-open {
    display: none;
  }
  .socialButton-open.active {
    display: none;
  }
  .socialButton-open.inactive {
    display: none;
  }
  .subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .text {
    font-size: 25px;
    line-height: 35px;
  }
  .title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: 787px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .burgermenu {
    padding: 0 0 0 10px;
  }
  .burgermenu-icon {
    max-width: 24px;
    height: auto;
  }
  .burgermenu-x {
    padding: 0 0 0 10px;
  }
  .burgermenu-x-icon {
    max-width: 24px;
    height: auto;
  }
  .socialButton-open {
    bottom: 0;
    right: -100%;
  }
  .socialButton-open.active {
    right: 40px;
  }
  .socialButton-open.inactive {
    right: -100%;
  }
  .socialButton-open img {
    width: 45px;
    height: auto;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: 16px;
    line-height: 25px;
  }
  .text {
    font-size: 16px;
    line-height: 25px;
  }
  .title {
    font-size: 25px;
    line-height: 40px;
  }
  .loginButton,
  .ordersButton {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 1200px) {
  .header__nav {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: fixed;
    right: -100%;
    top: 0;
    width: 40%;
    height: 100vh;
    background-color: white;
    z-index: 6;
    padding: 150px 20px 0 20px;
    font-size: 20px;
    line-height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav::before {
    content: "";
    position: fixed;
    left: -100%;
    bottom: 0;
    width: 60%;
    height: 100vh;
    background-color: rgba(85, 84, 84, 0.4);
    z-index: 5;
  }
  .header__nav .header__nav-item:after {
    display: none;
  }
  .header__nav .header__nav-activeitem {
    background-color: #e2e2e2;
    border-radius: 5px;
  }
  .header__nav.active {
    right: 0;
  }
  .header__nav.inactive {
    right: -100%;
  }
}

@media (max-width: 992px) {
  .header__nav {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 50px;
    width: 60%;
    padding-top: 180px;
  }
  .header__nav:before {
    width: 40%;
  }
  .header__menu {
    padding: 30px 0;
  }
  .header__logo img {
    max-width: 200px;
    height: auto;
  }
  .footer {
    display: none;
  }
  .subfooter {
    font-size: 14px;
  }
  .subfooter p {
    color: #ffffff;
  }
  .subfooter a {
    line-height: 30px;
  }
  .subfooter a img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .header__menu {
    padding: 20px 0;
  }
  .header__nav {
    font-size: 14px;
    line-height: 40px;
    width: 40%;
    padding-top: 80px;
  }
  .header__nav:before {
    width: 60%;
  }
  .header__logo img {
    max-width: 150px;
    height: auto;
    padding-right: 20px;
  }
}

@media (max-width: 787px) {
  .header__menu {
    padding: 12px 0;
  }
  .header__logo img {
    max-width: 130px;
    height: auto;
  }
  .header__nav {
    font-size: 14px;
    line-height: 40px;
    width: 60%;
    padding-top: 80px;
  }
  .header__nav:before {
    width: 40%;
  }
  .subfooter {
    font-size: 10px;
  }
  .subfooter p {
    color: #ffffff;
    padding: 0 0 10px 0;
    margin: 0;
  }
  .subfooter a {
    line-height: 20px;
  }
  .subfooter a img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1200px) {
  .products__item {
    max-width: 22%;
  }
}

@media (max-width: 992px) {
  .categoriesMenu__wrapper {
    display: none;
  }
  .categoriesMenuMobile {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    background: #990100;
    color: #ffffff;
    display: block;
  }
  .categoriesMenu {
    position: relative;
    background: #990100;
    padding: 115px 0 0 0;
  }
  .products__item-image {
    padding: 0 0 10px 0;
    height: 120px;
  }
  .products__item-title {
    margin: 0 0 6px 0;
    font-size: 14px;
  }
  .popup__productCard-content {
    max-width: 80%;
    padding: 20px 20px 20px 20px;
  }
  .popup__productCard-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popup__productCard-item {
    max-width: 100%;
    margin: 15px 0 0 0;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .popup__productCard-image {
    width: 100%;
    height: auto;
  }
  .popup__productCard-title {
    font-size: 16px;
  }
  .popup__productCard-text {
    font-size: 14px;
    line-height: 20px;
  }
  .popup__productCard-price {
    margin: 10px 0;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
  }
  .popup__productCard-price span {
    padding: 0 10px;
    color: #990100;
    font-size: 18px;
  }
  .popup__productCard-button {
    margin: 20px 0 0 0;
    position: relative;
    padding: 15px 25px 15px 40px;
    display: inline-block;
    color: #990100;
    background: #e2e2e2;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .popup__productCard-button:hover {
    color: #ffffff;
    background: #990100;
  }
  .popup__productCard-buttonIcon {
    position: absolute;
    width: 22px;
    left: 8px;
  }
  .popup__productCard-cancel {
    margin: 0 0 0 10px;
    font-size: 11px;
    color: #000000;
    text-decoration: underline;
  }
  .popup__productCard-close {
    right: 25px;
    top: 20px;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .categoriesMenu {
    padding: 80px 0 0 0;
  }
}

@media (max-width: 787px) {
  .categoriesMenu {
    position: relative;
    background: #990100;
    padding: 60px 0 0 0;
  }
  .products__item-image {
    height: 100px;
  }
  .products__item {
    max-width: 46%;
  }
  .products__item-price {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    bottom: 20px;
    left: -35px;
  }
}
