@import "_null";
@import "_header";

.header__menu {
    background-color: rgba($color: $lightbg, $alpha: 1);
}

.footer {
    z-index: 102;
}

.popup {
    &__productCard {
        transition: 0.4s;
        z-index: 102;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        &.open {
            visibility: visible;
            opacity: 1;
        }
        &.close {
            visibility: hidden;
            opacity: 0;
        }
    }

    &__productCard-body {
        min-height: 100%;
        display: flex;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        justify-content: center;
        padding: 30px 10px;
    }

    &__productCard-content {
        position: relative;
        background-color: $lightbg;
        color: $darktext;
        max-width: 60%;
        padding: 30px;
    }

    &__productCard-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__productCard-item {
        max-width: 47%;
        //height: 10%;
        margin: 25px 20px 0 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__productCard-image {
        width: auto;
        height: 100%;
        object-fit: cover;
        top: 50%;
        left: 50%;
        //padding: 0 70px 0 0;
    }

    &__productCard-title {
        font-size: 20px;
        color: $darkredtextbg;
        font-weight: 600;
        padding: 0 20px 0 0;
    }

    &__productCard-text {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        color: $darkgrey;
        flex: 1 1 auto;
    }

    &__productCard-price {
        margin: 20px 0;
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
        color: $darktext;
        span {
            padding: 0 10px;
            color: $darkredtextbg;
            font-size: 20px;
        }
    }

    &__productCard-count {
        //margin-top: 50px;
        color: $darktext;
        //width: 100%;
        line-height: 13px;
        background: transparent;
        border: 0;
        border-bottom: 1px solid rgb(119, 0, 0);
        padding-bottom: 10px;
        outline: none;
        font-size: 16px;
        display: block;
    }

    &__productCard-button {
        margin: 30px 0 0 0;
        position: relative;
        padding: 15px 25px 15px 40px;
        display: inline-block;
        color: $darkredtextbg;
        background: $lightgrey;
        transition: 1s;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 500;
        display: inline-flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            color: $lighttext;
            background: $darkredtextbg;
        }
    }

    &__productCard-buttonIcon {
        position: absolute;
        width: 22px;
        left: 8px;
    }

    &__productCard-cancel {
        margin: 0 0 0 10px;
        //display: block;
        font-size: 12px;
        color: $darktext;
        text-decoration: underline;
    }

    &__productCard-close {
        position: absolute;
        right: 35px;
        top: 28px;
        width: 15px;
        height: 15px;
        opacity: 0.3;
    }

    &__productCard-close:hover {
        opacity: 1;
    }

    &__productCard-close:before,
    &__productCard-close:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 15px;
        width: 2px;
        background-color: #333;
    }

    &__productCard-close:before {
        transform: rotate(45deg);
    }

    &__productCard-close:after {
        transform: rotate(-45deg);
    }
}

.socialButton {
    display: none;

    &-open {
        display: none;
    }
}

.categoriesMenuMobile {
    display: none;
}

.categoriesMenu {
    width: 100%;
    //position: fixed;
    z-index: 46;
    background: $darkredtextbg;
    padding: 117px 0 0 0;

    &__wrapper-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 0 15px 0;
    }

    &__item {
        padding: 20px 0;
        max-width: 25%;
        text-align: center;
        line-height: 20px;
        display: inline-block;
        vertical-align: top;
        margin: 0 20px;
        transition: 0.3s;
        position: relative;
        font-weight: 500;
        font-size: 14px;
        color: $lighttext;

        &:hover {
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                background-color: $lighttext;
                position: absolute;
                margin-top: 8px;
                left: 0;
                z-index: 1;
            }
        }
    }

    &__activeitem {
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background-color: $lighttext;
            position: absolute;
            margin-top: 8px;
            left: 0;
            z-index: 1;
        }
    }
}

.products {
    padding: 20px 0 30px 0;

    &__wrapper-row {
        display: flex;
        justify-content: space-around;
        //width: 100%;
        flex-wrap: wrap;
    }

    &__header {
        position: relative;
        //overflow: hidden;
    }

    &__item {
        padding: 0 0 20px 20px;
        max-width: 23.5%;
    }

    &__item-image {
        padding: 0 0 20px 0;
        max-width: 230px;
        width: 100%;
        height: 180px;
        object-fit: cover;
        top: 50%;
        left: 50%;
    }

    &__item-title {
        font-size: 16px;
        font-weight: 500;
        a {
            color: $darkredtextbg;
        }
        margin: 0 0 10px 0;
    }

    &__item-text {
        width: 85%;
        font-size: 12px;
        a {
            color: $darkgrey;
        }
        //margin: 0 0 10px 0;
    }

    &__item-price {
        color: $lighttext;
        position: absolute;
        bottom: 30px;
        left: -20px;
        font-size: 12px;
        display: flex;
        &-top {
            font-weight: 500;
            font-size: 20px;
        }
        &-inner {
            background-color: $lightredtextbg;
            padding: 10px;
        }
    }

    //Этот блок мы покажем только для авторизовнных пользователей
    &__item-addToOrder {
        color: $darktext;
        background-color: rgba($color: #ffffff, $alpha: 0.7);
        padding: 10px;
        transition: 1s;
        font-weight: 600;
        //opacity: 0;
        visibility: hidden;
        &.active {
            //opacity: 70%;
            visibility: visible;
        }

        &.inactive {
            //opacity: 0;
            visibility: hidden;
        }
    }

    &__content {
        position: relative;
    }
}

.orders {
    transition: 0.5s;
    padding: 150px 20px 20px 20px;
    width: 310px;
    height: 100%;
    background-color: $darkgrey;
    opacity: 0.98;
    color: $lighttext;
    position: fixed;
    z-index: 10;
    top: -100%;
    right: 0;
    &__title {
        font-size: 18px;
        margin: 0 0 60px 0;
        text-align: right;
    }

    &__wrapper {
    }

    &__item {
        display: flex;
    }

    &__item-icon {
        position: relative;
        padding: 0 20px 0 0;
    }

    &__item-img {
        border-radius: 10px;
        width: 75px;
        height: 75px;
        object-fit: cover;
    }
    &__item-cancelbtnround {
        position: absolute;
        top: -15px;
        left: 65px;
        background-color: $lightbg;
        padding: 12px;
        border-radius: 50%;
        opacity: 0.8;
    }

    &__item-cancelbtnround:hover {
        opacity: 1;
    }

    &__item-cancelbtn {
        position: absolute;
        top: -2.9px;
        left: 3.9px;
        width: 15px;
        height: 15px;
    }

    &__item-cancelbtn:before,
    &__item-cancelbtn:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 15px;
        width: 1px;
        top: 50%;
        left: 50%;
        background-color: #333;
    }

    &__item-cancelbtn:before {
        transform: rotate(45deg);
    }

    &__item-cancelbtn:after {
        transform: rotate(-45deg);
    }

    &__item-container {
        margin: 7px 0;
        display: flex;
        justify-content: space-between;
    }

    &__item-title {
        font-size: 16px;
        margin: 7px 0;
        margin: 0 auto;
    }

    &__item-price {
        font-size: 16px;
        font-weight: 700;
    }

    &__item-count {
    }

    &__item-countNumber {
        width: 32px;
        text-align: center;
        float: right;
    }

    &__item-countAdd {
        width: 24px;
        height: 24px;
        background: rgb(224, 224, 224);
        border-radius: 50%;
        color: $darkredtextbg;
        text-align: center;
        cursor: pointer;
        float: right;
    }

    &__item-countDel {
        width: 24px;
        height: 24px;
        background: rgb(224, 224, 224);
        border-radius: 50%;
        color: $darkredtextbg;
        text-align: center;
        cursor: pointer;
        float: right;
    }

    &__footer {
        position: absolute;
        text-align: center;
        bottom: 0;
        display: flex;
        justify-content: space-between;
    }

    &__submitbtn {
        margin: 0 10px 20px 0;
        border-radius: 30px;
        padding: 15px 25px;
        background: #ffffff;
        color: $darkredtextbg;
        font-weight: 600;
        font-size: 13px;
    }

    &__all {
        padding: 0 10px 0 0;
        text-align: right;
    }

    &__all-text {
        color: $lightgrey;
    }

    &__all-price {
        color: $lighttext;
        font-weight: 600;
        font-size: 23px;
        padding: 5px 0 0 0;
        //line-height: 30px;
    }

    &.active {
        top: 0;
    }
}

@import "_footer";

@import "null-mediaQuery";

@import "header&footer-mediaQuery";

@media (max-width: 1200px) {
    .products__item {
        max-width: 22%;
    }
}

@media (max-width: 992px) {
    .categoriesMenu__wrapper {
        display: none;
    }

    .categoriesMenuMobile {
        margin: 0 auto;
        padding: 0 10px;
        width: 100%;
        height: 40px;
        background: $darkredtextbg;
        color: $lighttext;
        display: block;
    }

    .categoriesMenu {
        position: relative;
        background: $darkredtextbg;
        padding: 115px 0 0 0;
    }

    .products {
        //padding: 20px 0 30px 0;
    }

    .products__item-image {
        padding: 0 0 10px 0;
        height: 120px;
    }

    .products__item-title {
        margin: 0 0 6px 0;
        font-size: 14px;
    }

    .popup {
        &__productCard-content {
            max-width: 80%;
            padding: 20px 20px 20px 20px;
        }

        &__productCard-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__productCard-item {
            max-width: 100%;
            margin: 15px 0 0 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__productCard-image {
            width: 100%;
            height: auto;
        }

        &__productCard-title {
            font-size: 16px;
        }

        &__productCard-text {
            font-size: 14px;
            line-height: 20px;
        }

        &__productCard-price {
            margin: 10px 0;
            font-size: 14px;
            line-height: 30px;
            font-weight: 500;
            color: $darktext;
            span {
                padding: 0 10px;
                color: $darkredtextbg;
                font-size: 18px;
            }
        }

        &__productCard-button {
            margin: 20px 0 0 0;
            position: relative;
            padding: 15px 25px 15px 40px;
            display: inline-block;
            color: $darkredtextbg;
            background: $lightgrey;
            transition: 1s;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 500;
            display: inline-flex;
            align-items: center;
            cursor: pointer;

            &:hover {
                color: $lighttext;
                background: $darkredtextbg;
            }
        }

        &__productCard-buttonIcon {
            position: absolute;
            width: 22px;
            left: 8px;
        }

        &__productCard-cancel {
            margin: 0 0 0 10px;
            //display: block;
            font-size: 11px;
            color: $darktext;
            text-decoration: underline;
        }

        &__productCard-close {
            right: 25px;
            top: 20px;
        }
    }
}

@media (max-width: 992px) and (orientation: landscape) {
    .categoriesMenu {
        padding: 80px 0 0 0;
    }
}

@media (max-width: 787px) {
    .categoriesMenu {
        position: relative;
        background: $darkredtextbg;
        padding: 60px 0 0 0;
    }

    .products__item-image {
        height: 100px;
    }

    .products__item {
        max-width: 46%;
    }

    .products__item-price {
        transform: scale(0.8);
        bottom: 20px;
        left: -35px;
    }
}

@media (max-width: 787px) and (orientation: landscape) {
}
